

body {
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.nav-container {
    background: #e0b12f;
}

.nav-container a{
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2em;


    .logo {
        color: #3A86FF;
        font-weight: bold;
    }

    ul {
        display: flex;

        a {
            display: block;
            padding: 0 1em;
        }
    }

}

.social-header, .hero-design {
    display: none;
}

.hero {
    background: #FB5607;
    color: white;
    display: grid;
    text-align: center;
    padding: 4em;
}

.meet {
    display: flex;
    margin: 0 auto;
    width: 200px;
    font-weight: bold;
    color: #FF006E;
}

span {
    margin-top: 1em;
    margin-right: .5em;
}

.scroll {
    width: 30px;
    margin-top: 2em;
}

.featured {
    position : relative;
}

.featured::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #E5D5FA;
    top: 0;
    left: 0;
    z-index: -1;
}

.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    color: #6E00FF;
    letter-spacing: .2em;
}

.featured-title {
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc {
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills {
    background: #ff64cb; 
}

.skills-container ul li {
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container{
        height: 100px;
        display:grid;
        place-content: center;
        margin: 0 auto;

        &.one {
            width: 50px;
        }
        &.two {
            width: 100px;
        }
        &.three {
            width: 60px;
        }
    }

    .skill-title {
        font-weight: bold;
    }
    .featured-desc {
        margin-bottom: 2em;
    }
}

.portfolio {
    background: #f7f7f7
}

.portfolio-container a img {
    border-radius: 1em;
    margin-bottom: 2em;
}

